#batten {
  background-color: #6c1c88;
  width: 120px;
  text-align: center;
  margin-top: -57px;
  position: absolute;
  margin-left: 45px;
  color: white;
  border-radius: 4px;
}
#batten p a {
    text-decoration: none;
    color: white;
}
