@import url('custompages.css');
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	margin:0;
	
}
/*---HEADER------>START*/
.efusion-clear { clear: both; }
.efusion-background {
	width: 100%;
	padding: 0px;
	margin:0 auto;
}
.efusion-main{
	width: 100%;
padding: 0;
margin: 0 auto;
text-align: center;
background:url("https://raw.githubusercontent.com/subtlepatterns/SubtlePatterns/gh-pages/black-Linen.png");
float: left;
}
.efusion-wrapcen {
	width: 1045px;
padding: 0;
margin: 0 auto;
text-align: center;
background-image: url(../images/top-glow.png);
background-repeat: no-repeat;
background-position: center top;
background-color: #000;
display: inline-block;

}
.efusion-content {
	width: 1045px;
	margin:0 auto;
	background-image: none;
	padding:0;
}

#efusion-header {
	width:1000px;
	padding:0;
	margin:0 auto;
}

#efusion-header img { border:none; }

#efusion-header #efusion-logo {
	width: 237px;
	height: 60px;
	padding: 0px;
	margin:24px 0 0 -50px;
	float: left;
}

/*---HEADER SERCH BOX------>START*/
#efusion-search {
	width: 230px;
	height:28px;
	display: block;
	margin:40px 0 0 0;
	padding: 0;
	float: right;
	background-image:url("http://www.efusionworld.com/estore/salmaqualitygold/store/images/search-bg.jpg");
	background-repeat:no-repeat;
	background-position:center right;

}
#efusion-search #efusion-input {
	width: 200px;
	height:28px;
	margin: 0px;
	float: left;
	padding: 0px;
}
#efusion-search #efusion-input .v4sbox {
	color: #6b6b6b;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	width: 200px;
	height: 28px;
	line-height: 28px;
	text-indent:10px;
	margin: 0px;
	padding:0;
	border:none;
	background-color: transparent;
}
#efusion-search #efusion-submit {
	width: 20px;
	height: 17px;
	margin: 5px;
	padding: 0px;
	float: right;
	background-image: url("http://i61.photobucket.com/albums/h76/Nimo18/maginfy1_zpsjuaxodjs.png");
	background-repeat: no-repeat;
	background-position:center center;
	border:none;
}
#efusion-search #efusion-submit input.btn-search {
	width:20px;
	height:17px;
	background-color:transparent;
	border:none;
	text-indent:-999px;
	cursor:pointer;
}
/*---HEADER SERCH BOX------>END*/

/*---HEADER NAVIGATION------>STARTS*/
#efusion-nav {
	width: auto;
	height:30px;
	padding:0;
	margin:15px 0 0 0;
	float:right;
	clear:both;

}
#efusion-nav ul{
	width: auto;
	height:30px;
	padding:0;
	margin:0;
	list-style:none;
}
#efusion-nav ul li{
	font-family: 'Lato', sans-serif;
	font-size:14px;
	color:#6b6b6b;
	list-style:none;
	float:right;
	display:inline-block;
	padding:0;
	margin:0 0 0 32px;
}
#efusion-nav ul li a{
	text-decoration:none;
	color:#6b6b6b;
}
#efusion-nav ul li a:hover{
	text-decoration:underline;
	color:#FFF;
}
/*---HEADER NAVIGATION------>ENDS*/

/*---HEADER MENU------>STARTS*/
#efusion-menu {
	width: 1000px;
	height: 40px;
	padding: 0px;
	margin: 5px 0 0 0;
	float: left;
	background-image:url("http://www.efusionworld.com/estore/salmaqualitygold/store/images/menu-line.png");
	background-repeat:no-repeat;
	background-position:center top;

}
#efusion-menu-holder {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
ul#efusionmenu {
	padding:0;
	margin:0 auto;
	list-style:none;
	width:inherit;
}
ul#efusionmenu li {
	height:40px;
	line-height:40px;
	display:inline-block;
	padding:0;
	margin:0 17px;
	list-style:none;
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-size:19px;
	text-transform:uppercase;
	color:#FFF;
}
ul#efusionmenu li.showall a{
	color:#ffa800;
}
ul#efusionmenu li a {
	text-decoration:none;
	color:#FFF;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}
ul#efusionmenu li a:hover {
	text-decoration:none;
	color:#65328e;
}
/*---HEADER MENU------>ENDS*/

/*---HEADER PROMOTION------>STARTS*/

/*---HEADER PROMOTION------>ENDS*/

/*---HEADER BANNER------>STARTS*/
#banner-holder {
	width:100%;

	padding:0;
	margin:0;
	float:left;
	background-image:url(../images/banner-bg.png);
	background-repeat:repeat-x;
	background-position:bottom;
}
/*---HEADER BANNER------>ENDS*/



/*---LEFT COLUMN STARTS->*/
.efusion-cathead {
	width:215px;
	height:49px;
	line-height:49px;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color: #fff;
	text-align:left;
	margin:0;
	padding:0;
	text-transform: uppercase;
	text-indent:38px;
	background-color:#652c90;
	background-image:url("http://www.efusionworld.com/estore/salmaqualitygold/store/images/cat-icon.png");
	background-repeat:no-repeat;
	background-position:10px center;
}
#efusion-categories  {
	width: 215px;
	text-align: left;
	margin:0 0 12px 0;
	padding:0;
	background-color:#ff002a;
}
#efusion-categories ul.lev1 {
	list-style-type: none;
	width: 215px;
	padding: 0px;
	margin: 0;
}
#efusion-categories ul.lev1 li {
	line-height: 30px;
	padding: 0px;
	height: 30px;
	width:215px;
	text-indent:30px;
	margin: 0px;
	text-align: left;
	border-bottom:solid 1px #b1001d;
	background-image:url(../images/cat-arrow.png);
	background-position:14px center;
	background-repeat:no-repeat;
	overflow:hidden;
	text-transform:uppercase;
}
#efusion-categories  ul.lev1  li.lastiteam {
	margin: 0px;
	padding: 0px;
}
#efusion-categories ul.lev1 li a {
	width: 215px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin: 0px;
	list-style: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px;
}
#efusion-categories ul.lev1 li a:hover {
	width: 215px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin: 0px;
	list-style: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #edd692;
	text-decoration: underline;
	padding: 0px;
}
#efusion-categories ul.lev1 li span {
	width: 215px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin: 0px;
	list-style: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #edd692;
	text-decoration: underline;
	padding: 0px;
}
#efusion-categories ul.lev2 {
	list-style:none;
	padding: 0px;
	width: 215px;
	margin:0;
}
#efusion-categories ul.lev2 li {
	background-image: none;
	padding: 0px;
	margin: 0px;
	background-color:#efefef;
	border-bottom:none !important;
	background-image:url("http://www.efusionworld.com/estore/salmaqualitygold/store/images/cat-2-arrow.png");
	background-repeat:no-repeat;
	background-position:29px center;
	overflow:hidden;
}
#efusion-categories ul.lev2 li a {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	display: block;
	height: 30px;
	margin: 0px;
	text-indent:40px;
	padding: 0px;
	line-height: 30px;
}
#efusion-categories ul.lev2 li a:hover {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: underline;
	display: block;
	height: 30px;
	margin: 0px;
	text-indent:40px;
	padding: 0px;
	line-height: 30px;
}
#efusion-categories ul.lev2 li span {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: underline;
	display: block;
	height: 30px;
	margin: 0px;
	text-indent:40px;
	padding: 0px;
	line-height: 30px;
}
#efusion-categories ul.lev3 {
	list-style:none;
	padding: 0px;
	width: 215px;
	margin:0;
}
#efusion-categories ul.lev3 li {
	background-image: none;
	padding: 0px;
	margin: 0px;
	background-color:#efefef;
	border-bottom:none !important;
	background-image:url(../images/cat-2-arrow.png);
	background-repeat:no-repeat;
	background-position:39px center;
	overflow:hidden;
}
#efusion-categories ul.lev3 li a {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	display: block;
	height: 30px;
	margin: 0px;
	text-indent:50px;
	padding: 0px;
	line-height: 30px;
}
#efusion-categories ul.lev3 li a:hover {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
	display: block;
	height: 30px;
	margin: 0px;
	text-indent:50px;
	padding: 0px;
	line-height: 30px;
}
#efusion-categories ul.lev3 li span {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
	display: block;
	height: 30px;
	margin: 0px;
	text-indent:50px;
	padding: 0px;
	line-height: 30px;}


#efusion-paymenticon {
	width:215px;
	height:178px;
	text-align:center;
	margin: 0px;
	padding:15px 0 0 0;
	background-image:url("http://medcraveonline.com/images/paypal_verified.jpg");
	background-repeat:no-repeat;
	background-position:center center;
}
#efusion-sale {
	width:215px;
	height:138px;
	text-align:center;
	margin: 0px;
	padding:35px 0 0 0;
	background-image:url(../images/sale.png);
	background-repeat:no-repeat;
	background-position:center center;
}
#efusion-thanks{
	width:215px;
	height:125px;
	text-align:center;
	margin: 0px;
	padding:35px 0 0 0;
	background-image:url("http://i61.photobucket.com/albums/h76/Nimo18/626_zpskwtlghbw.png");
	background-repeat:no-repeat;
	background-position:center center;
}
#LeftPanel {
	width: 215px!important;
	text-align: left;
	vertical-align: top !important;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 18px;
	background: black;
}
#LeftPanel img { border: 0px; }
#LeftPanel .ttl { display: none !important; }
#LeftPanel .cnt { display: none !important; }
#LeftPanel .all_cats { display: none !important; }
#LeftPanel .link { display: none !important; }
#LeftPanel .v4acpcont { display: none !important; }
/*---LEFT COLUMN ENDS->*/

/*---FOOTER->START*/
.efusion-wrapcens {
	width: 100%;
	height:392px;
	background-color:#000000;
	padding:0;
	margin:0;
}
#efusion-footer {
  width: 1000px;
  height: 220px;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#efusion-footernav-holder {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#footerlogo {
	width:196px;
	height:37px;
	padding:0;
	margin:15px auto 0;
	background-image:url(images/footer-logo.png);
	background-repeat:no-repeat;
	background-position:center top;
}
#efusion-copy {
	width:100%;
	padding:0;
	margin:6px 0 0 0;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	clear:both;
	color:#919191;
}
#efusion-designedby {
	width:100%;
	padding:0;
	margin:0;
	float:left;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#919191;
}
#efusionfooterlogo {
	width:104px;
	height:17px;
	padding:12px 0 0 0;
	margin:10px auto 0 auto;
	text-align:center
}
#efusionfooterlogo img {
	border:none;
}
#widesearchholder {
  width: 100%;
      height: 117px;
      background-color: #6c1c88;
      clear: both;
      padding: 0;
      margin: 0;
}
#widesearch {
	width:1000px;
	height:117px;
	clear:both;
	padding:0;
	margin:0 auto;
}
#widesearch #efusion-input2 {
	width: 435px;
	height:44px;
	margin:38px 0 0 225px;
	float: left;
	padding: 0px;
	background-color:#FFF;
	border-radius:28px;
}
#widesearch #efusion-input2 .v4sbox2 {
	color: #8f8f8f;
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	width: 435px;
	height: 44px;
	line-height: 44px;
	text-indent:10px;
	margin: 0px;
	padding:0;
	border:none;
	background-color: transparent;
}
#widesearch #efusion-submit2 {
	width: 111px;
	height: 44px;
	margin:38px 225px 0 0;
	padding: 0px;
	float: right;
	background-image: url("http://www.efusionworld.com/estore/salmaqualitygold/store/images/search.png");
	background-repeat: no-repeat;
	background-position:center center;
	border:none;
}
#widesearch #efusion-submit2 input.btn-search2 {
	width:111px;
	height:44px;
	background-color:transparent;
	border:none;
	text-indent:-999px;
	cursor:pointer;
}
.f-col1 {
	width:242px;
	padding:0;
	margin:12px 0 0 0;
	float:left;
}
.f-col2 {
	width:290px;
	padding:0;
	margin:12px 0 0 0;
	float:left;
}
.f-col3 {
	width:242px;
	padding:0;
	margin:12px 0 0 0;
	float:left;
}
.f-col4 {
	width:185px;
	height:200px;
	padding:0;
	margin:12px 0 0 0;
	float:left;
	background-image:url("");
	background-position:center 15px;
	background-repeat:no-repeat;
}

.f-col1 span, .f-col2 span, .f-col3 span {
	display:block;
	padding:0;
	margin:5px 10px 0 0;
	width:12px;
	height:23px;
	background-color:#652c90;
	float:left;
}
.f-col1 h1, .f-col2 h1, .f-col3 h1 {
	padding:0;
	margin:0;
	font-size:28px;
	color:#FFF;
	font-family: 'Lato', sans-serif;
	font-weight:normal;
	text-align:left;
}
.f-col1 ul{
	padding:0;
	margin:15px 0 0 22px;
	list-style:none;
}
.f-col1 ul li{
	padding:0;
	margin:0;
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#919191;
	text-align:left;
	line-height:25px;
}
.f-col1 ul li a {
	text-decoration:none;
	color:#919191;
}
.f-col1 ul li a:hover {
	text-decoration:underline;
	color:#919191;
}
#efusion-newsletter2 {
	width: 188px;
	height: 205px;
	padding: 0px;
	margin:15px 0 0 22px;
	float:left;
}
#efusion-newsletter2 #efusion-text2 {
	color: #919191;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 195px;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	top: 12px;
	right: auto;
	bottom: 0px;
	padding: 0px;
	line-height: 16px;
}
#efusion-newsletter2 #efusion-text2 p {
	padding: 0px;
	margin: 0px;
}
#efusion-newsletter2 #efusion-signup2 {
	position: relative;
	padding: 0px;
	height: 17px;
	width:81px;
	top: 15px;
	left: 0px;
	margin: 0px;
	background-color: transparent;
}
#efusion-newsletter2 input.btn-signup2{
	background-color:transparent;
	background-image: url("http://i61.photobucket.com/albums/h76/Nimo18/signup12_zpsutxj3kzj.png");
	display: block;
	border: none 0px;
	cursor: pointer;
	text-decoration: none;
	height: 17px;
	width: 81px;
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: -999em;
}
#f-payment {
	width: 242px;
	height:105px;
	padding: 0px;
	margin:0;
	float:left;
	background-image:url("http://i61.photobucket.com/albums/h76/Nimo18/paypal%202_zpsfeqegklr.png?t=1472601620");
	background-repeat:no-repeat;
	background-position:center center;
}


/*---FOOTER->ENDS*/

/*----------------EBAY DEFAULT --------------*/
#CentralArea {
	margin: 0px !important;
	vertical-align: top !important;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #000000;
}
#CentralArea td.r3_t b,
#CentralArea td.r3_t i,
#CentralArea td.r3_bl b,
#CentralArea td.r3_bl i,
#CentralArea .ttl img,
#CentralArea .g-std img {
	display: none;
	background-image: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#CentralArea td.r3_c a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
#CentralArea td.gallery {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0;
	margin: 7px;
	display: inline-block;
	float: left;
	width: 240px;
	height:400px;
	background-color:#FFF;
	background-image: url("http://i61.photobucket.com/albums/h76/Nimo18/gallery_bg_zpsfmpjmaky.png?t=1472691498");
background-repeat: no-repeat;
background-position: center bottom;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;

}
#CentralArea td.r3_t {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 0px;
	line-height: 0px;
	background-image: none;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 0px;
}
#CentralArea td.r3_bl {
	font-size: 0px;
	line-height: 0px;
	background-image: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#CentralArea td.r3_c {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #333333;
}
#CentralArea div.dynpg {
	color: #666666!important;
	padding: 10px 0px 1px 0px !important;
	margin: 0px !important;
	border: 0px none #474748 !important;
}
.fpcc .matchClass {
	font-family: Arial;
	color: #FFFFFF;
}
.fpcc .countClass {
	color: #FFFFFF;
	font-family: Arial;
	font-size: medium;
	font-weight: bold;
}
.fpcc span.keywordClass {
	background-color: #000000;
	color: #FFFFFF;
	cursor: default;
	display: inline;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	white-space: nowrap;
	font-size: 12px;
}
table.gallery td.picture {
    background-color: #FFFFFF;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
	border-radius: 5px;
}
.v4stabl {
	color: #FFFFFF;
	text-align: right;
}
.v4stabl a {
	color: #FFFFFF !important;
}
span.pdmt .label {
	color: #FFF;
}
.g-b {
	font-weight: bold;
	color: #652c90;
	font-size: 18px;
	position: relative;
	left: 0px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}
#gnheader {
	padding: 0px;
	background-color: #FFFFFF;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	left: auto;
	right: auto;
}
#glbfooter {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #FFFFFF;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.rs-pview {
	padding: 3px;
}
.whiter-rcp {
	width: 100%  !important;
	margin-top: 0px !important;
	margin-right: auto !important;
	margin-bottom: 0px !important;
	margin-left: auto !important;
}
.stBadge {
	margin-top: 17px  !important;
	min-width: 760px  !important;
	width: 100%  !important;
	margin-right: auto  !important;
	margin-bottom: 0px  !important;
	margin-left: auto  !important;
}
.right-box {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #d9d9d9;
	border-left-color: #d9d9d9;
	width: 745px;
}

.tb_v4bc {
	visibility: visible !important;
	width: 96% !important;
	margin-right: auto !important;
	margin-bottom: 5px !important;
	margin-left: auto !important;
	left: auto;
	right: auto;
	margin-top: 5px;
	height: 30px;
}


.lcat a.all_cats {
	color:#565553 !important;
	display:block;
	height:28px;
	line-height:28px;
	text-indent:25px;
	font-weight:bold;
	font-style:italic;
	font-weight:bold;
	text-decoration:none !important;
	text-transform:capitalize;
}
div.itemseparator {
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #CCCCCC;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-style-value: solid;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-width-value: 0;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #CCCCCC;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: solid;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: 0;
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 2px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.cmpBr {
	display:none; /*this will hide comp bar*/
}
.rs_box {
	border-top-style: none;
	border-top-width: 0px;
	clear: both;
	padding: 3px;
}
.ctrlbr {
	border-bottom-color: #171717;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top: solid 1px #171717;
	background-color: transparent;
	clear: left;
	height: 1%;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 0;
	padding-top: 3px;
	width: 100%;
}
table.gallery div.ttl {
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 2px;
	color: #000000;
	text-align:center;
}

/*----------------EBAY PAGINATION STARTS-------------*/
.pgbc {
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	background-position: bottom;
}
table.pgbc {
	background-color: #171717;
	background-position: bottom;
	border:none;
}
.dynpg span.page {
	font-weight: bold;
	white-space: nowrap;
	color: #FFF !important;;
}
.dynpg .prev {
	background-image:url(../images/prev.png);
	background-repeat:no-repeat;
	background-position:left center;
}
.dynpg .prev img {
	visibility:hidden;
}
.dynpg .prev a {
	color: #FFF !important;;
}
.dynpg .next {
	background-image:url(../images/next.png);
	background-repeat:no-repeat;
	background-position:right center;
}
.dynpg .next img {
	visibility:hidden;
}
.dynpg .next a {
	color: #FFF !important;;
}
.pages a {
	color:#FFF !important;
}
.dynpg .r .form label {
	padding-top: 4px;
	vertical-align: baseline;
	color: #FFF !important;;
}
#msg a ,msg {
	color: #FFF !important;;
}
#q_10 {
	width:33px;
	height:32px;
	background-color:transparent;
	border:none;
	background-image:url(../images/go.png);
	background-repeat:no-repeat;
	background-position:center top;
	color:transparent !important;
	position:relative;
	bottom:-5px;
}
.dynpg span.pipe {
	margin: 0 3px;
	padding: 0;
	color: #FFF;
}

/*----------------EBAY PAGINATION ENDS-------------*/
.efusion-content{
	background: black;
}
span.pdmt .cur {
	color: #ffffff;
	cursor: pointer;
	margin-left: 0.4em;
	background-image:url(http://hosted.proaal.com/ebay/storeimages/down.png);
	background-repeat:no-repeat;
	background-position:center right;
}
span.pdmt .cur img {
	visibility:hidden;
}
.time2 {
	text-align: center;
	padding: 15px 0 0 0;
	color:#7b7b7b;
}



td.basics {
	display:none;
}
.grid td.left {
    border:none;
}
table.gallery table.fixed tbody tr td img {
	position: absolute;
	margin:0px 0 0 80px;
	padding:5px 0 0 0;
	background-color:#FFF;
	border-radius:8px;
}
table.gallery table.fixed div.time2 {
	position: absolute;
	padding: 20px 0 0 0;
	margin: 0 0 0 55px;
	text-align: center;
	color:#424242;
}
table.gallery table.fixed div.time2 .label {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	position: relative;
	left: 0;
}
.iippl {
display: none;
}
.details {
text-align: center;
padding-top:0px;
color:#000000;
}
table.gallery .mi {
    display:none;
}
table.gallery table.fixed {
	margin-top: 5px;
	text-align: center;
	position: relative;
	width: 200px;
}
table.gallery table.fixed .label {
position: relative;
float: left;
left: 90px;
padding: 30px 0 0 0;
display:none;
}

span.fshp {
    color: #424242;
    float: right;
    font-family: "Ubuntu Condensed";
    font-size: 13px;
    font-weight: normal;
    left: 62px;
    line-height: normal;
    margin-right: -15px;
    position: relative;
    text-decoration: none;
    white-space: normal;
}
table.gallery div.subtitle {
margin: 10px 0;
font-size: 11px;
}

table.gallery table.fixed span.disct, table.gallery table.prices span.disct {
font-weight: bold;
color: #40b238;
float: left;
position: absolute;
width: 205px;
padding: 15px 0 15px 0;
margin: 0 auto;
/* float: left; */
}
.dynpg .l {
	padding-left: 10px;
	vertical-align: middle;
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #404042;
	text-decoration: none;
}
table.gallery table.fixed span.oriprs, table.gallery table.prices span.oriprs {
font-size: x-small;
color: #666;
padding-top: 2px;
text-decoration: line-through;
text-align:center;
width:217px;
}
.bin {
z-index: 1;
padding-top: 25px;
display: block;
}

#fpcap {
height: 30px;
}
.bpmsg span.option {
font-family: Arial;
font-size: small;
font-weight: bold;
color: #FFF;
}
.bpmsg span.lnk {
font-size: x-small;
font-family: Verdana;
white-space: nowrap;
color: #fff;
}
.bpmsg span.lnk a {
color: #fff !important;
}


/* List View CSS Starts */
.li {
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	background: #fff;
}
.li div.ttl {
	background-color: inherit;
	width: 300px;
	text-align: left;
}
.li td.trs, .li td.pay {
	width:0;
}
.li td.prices {
	width: 72px;
	text-align: center;
}
.li td.fshp, .li td.prices span.fshp, .li td.fshp span.fshp, .li td.ship span.fshp {
color: #f80;
font-family: Verdana;
font-weight: bold;
white-space: normal;
font-size: x-small;
text-align: left;
float: left;
position: relative;
left: 0px;
}
.li tr td {
vertical-align: middle;
}

/* HIDE EBAY HEADER*/
.gh-tbl, .gh-tbl2, .tb_v4bc {
	display: none;
}
.pagecontainer > p:nth-child(2) {
	display: none!Important;
}
#gh {
position: relative;
min-width: 320px;
margin:0;
padding: 15px 0 10px 0 !important;
white-space: nowrap;
background: #000;
border: none!Important;
}
.mod_focus_show {
  width: 760px;
height: auto;
position: relative;
margin: 0 auto;
background-color: #fff;
}
.mod_focus_show .mod_focus_pic {
  display: block;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #fff;
}
.mod_focus_show .mod_focus_pic li, .mod_focus_show .mod_focus_pic a, .mod_focus_show .mod_focus_pic img {
  display: block;
  width: 600px;
  height: 600px;
  margin-top: 35px;
}
.mod_focus_show .mod_focus_pic li {
  position: absolute;
  left: 66px;
  list-style: none;
  top: 12px;
}
.mod_focus_show2 {
  width: 100%;
  margin: 0 auto;
}
.focus_switch {
  width: 720px;
  height: 0px;
  z-index: 2;
  position: relative;
  background-color: #fff;
}
.focus_switch a {
  float: left;
  width: 45px;
  height: 100px;
  background-image: url("http://i61.photobucket.com/albums/h76/Nimo18/silder_btn12_zpso9oklawf.jpg?t=1471376124");
  background-repeat: no-repeat;
  cursor: pointer;
}
.focus_switch .icon_prev {
  background-position: 0 0;
  margin: 0 1px 0 0;
  position: absolute;
  left: 0px;
  top: -300px;
}
.focus_switch .icon_prev:hover {
  background-position: -100px 0;
}
.focus_switch .icon_next {
  background-position: -55px 0;
      position: absolute;
      right: -40px;
      top: -298px;
}
.focus_switch .icon_next:hover {
  background-position: -155px 0;
}
.mod_focus_show .mod_focus_list {
  background: #fff;
  overflow: hidden;
  height: auto;
  text-align: center;
  width: 610px;
  margin: auto;
  margin-top: 61px;
  margin-bottom: 64px;
  margin-left: 36px;
}
.mod_focus_show .mod_focus_list li {
  width: 80px;
  height: 80px;
  float: left;
  margin: 6px 4px 8px 2px;
  position: relative;
  list-style: none;
  ;
}
.mod_focus_show .mod_focus_list li a {
  display: block;
  width: 80px;
  height: 80px;
}
.mod_focus_show .mod_focus_list li img {
  display: block;
  width: 80px;
  height: 80px;
}
.mod_focus_show .mod_focus_list li a:hover {
  _background: none;
}
.mod_focus_show .mod_focus_list li a:hover .mask, .mod_focus_show .mod_focus_list .current .mask {
  display: none;
}
.mod_focus_show .mod_focus_list li .mask {
  display: block;
  height: 80px;
  width: 80px;
  position: relative;
  top: -80px;
  margin: 0 0 -80px;
  eft: 0;
  bottom: 0;
  background: #fff;
  opacity: .5;
  filter: alpha(opacity=50);
}
.mod_focus_show .mod_focus_list li .border {
  display: none;
}
.mod_focus_show .mod_focus_list .current .border {
  display: block;
  height: 80px;
  width: 80px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: url("http://www.360save.net/toolsempire/images/ncl_hov.gif") no-repeat;
}
.esd-main {
  background: white;
  width: 1200px;
  margin: auto;
  height: auto;
}
#esd-menu {
  width: auto;
  float: left;
  margin: 32px 0 0 0;
  padding: 0;
  background: none;
  padding-left: 60px;
}
#esd-menu ul {
  list-style: none;
  width: auto;
  margin: 0 auto;
  padding: 0;
  display: table;
  position: relative;
}
#esd-menu ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: left;
}
#esd-menu ul li.last {
  border: 0 none;
  margin: 0px;
  padding: 0px;
}
#esd-menu ul li a {
  margin: 0 10px;
  padding: 0 0 7px 0;
  list-style: none;
  display: block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: grey;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.5s ease-out;
  background-position: center top;
  letter-spacing: 1px;
}
#esd-menu ul li a:hover {
  color: #fcb620;
  text-decoration: none;
  background: url("http://i61.photobucket.com/albums/h76/Nimo18/menu_hover_zpshoiirkz5.png?t=1471368789") no-repeat center bottom;
}
.esd-back {
  width: 1182px;
  height: 77px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 10px;
  position: relative;
  z-index: 5;
  top: 0;
  -webkit-box-shadow: 0 4px 4px -2px #000000;
  -moz-box-shadow: 0 4px 4px -2px #000000;
  box-shadow: 0 4px 4px -2px #000000;
}
.esd-back .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  width: 1200px;
  height: 100%;
  background: white;
}
.sc_search {
  width: 339px;
  height: 40px;
  float: right;
  display: inline;
      margin: 29px -46px 0 0px;
  ;
}
.sc_search .inp_srh {
     width: 199px;
    margin-left: 16px;
    height: 33px;
    padding: 5px;
    background: url("http://www.360save.net/toolsempire/images/search_bg.jpg") no-repeat;
    background-position: top: 2px;
    left: 2px;
    border: 2px solid #fff;
    outline: none;
    color: #333;
    line-height: 26px;
    font-size: 14px;
    font-family: arial;
    display: block;
    float: left;
}
.sc_search button:hover {
  color: grey;
}
.sc_search button {
  overflow: visible;
      position: relative;
      margin-left: -2px;
      float: left;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 33px;
      width: 72px;
      font: bold 14px/36px 'Raleway', sans-serif;
      color: #fff;
      transition: all 0.3s ease-out;
      text-transform: uppercase;
      background: #6c1c88;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
}
.sc_search button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #6c1c88  transparent;
  top: 9px;
  left: -6px;
}
.logo {
  float: left;
  padding-top: 4px;
}
.new {
  text-align: center;
}
#esd-cathead {
  background-image: url("http://www.efusionworld.com/estore/salmaqualitygold/store/images/cat-icon.png");
  color: #fff;
  background-repeat: no-repeat;
  background-position: 12px 13px;
  font-family: 'Ledger', serif;
  font-size: 20px;
  font-weight: normal;
  padding: 0px 0 0 45px;
  text-align: left;
  text-decoration: none;
  height: 60px;
  line-height: 40px;
  background-color: #6c1c88;
}
#esd-categories {
  background: white;
  width: 208px;
  text-align: left;
  margin: 0px;
  position: relative;
  top: -15px;
  padding: 0px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}
#esd-categories ul.lev1 {
  list-style-type: none;
  width: 208px;
  margin: 0px auto;
  padding: 6px 0 0 0;
}
#esd-categories ul.lev1 li {
  border-bottom: grey 1px dashed;
  width: 208px;
  margin: 0 0 0 0;
  padding: 0 !important;
  list-style: none;
  text-align: left;
  overflow: hidden;
}
#esd-categories ul.lev1 li.est-lastitem {
  margin: 0px;
  padding: 0px;
  border: 0 none !important;
}
#esd-categories ul.lev1 li a {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 7px 0px 7px 15px;
  margin: 0 0 0 10px;
  font-weight: normal;
  transition: all 0.7s ease-out;
  background: url("http://aminoffandco.com/Ebay_store_2/wemanufacturejewelry/listing/images/left-img.png") no-repeat 0px 16px;
}
#esd-categories ul.lev1 li a:hover {
  color: #F9B419;
  font-weight: normal;
  text-indent: 5px;
  background-color: none;
}
#esd-categories ul.lev1 li span {
  color: #313a43;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 8px 0px 8px 15px;
  margin: 0 0 0 10px;
  font-weight: normal;
  transition: all 0.3s ease-out;
  background: url("http://aminoffandco.com/Ebay_store_2/wemanufacturejewelry/listing/images/left-img.png") no-repeat 0px 16px;
}
#esd-categories ul.lev2 {
  list-style-type: none;
  width: 208px;
  margin: 0px auto;
  padding: 0px 0 0 0;
}
#esd-categories ul.lev2 li {
  width: 210px;
  margin: 0 0 0 0;
  padding: 0 !important;
  list-style: none;
  text-align: left;
  overflow: hidden;
}
}
#esd-categories ul.lev2 li.est-lastitem {
  margin: 0px;
  padding: 0px;
  border: 0 none !important;
}
#esd-categories ul.lev2 li a {
  color: #5f7c8a;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 7px 0px 7px 15px;
  margin: 0 0 0 0px;
  font-weight: normal;
  transition: all 0.3s ease-out;
  background: url(".http://aminoffandco.com/Ebay_store_2/wemanufacturejewelry/listing/images/left-img.png") 0px 16px;
}
#esd-categories ul.lev2 li a:hover {
  color: #6c1c88;
  font-weight: normal;
  text-indent: 5px;
}
#esd-categories ul.lev2 li span {
  color: #313a43;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 8px 0px 8px 15px;
  margin: 0 0 0 10px;
  font-weight: normal;
  transition: all 0.7s ease-out;
  background: url("http://aminoffandco.com/Ebay_store_2/wemanufacturejewelry/listing/images/left-img.png") no-repeat 0px 16px;
}
.center{
  text-align: center;
margin: auto;
width:1045px;
}
#LeftPanel3 {
  width: 210px !important;
  text-align: left;
  vertical-align: top !important;
  padding: 0px;
  float: left;
  margin-left: 3px;
}
#LeftPanel3 * {
  padding: 0px;
  margin: 0px;
}
#LeftPanel3 img {
  border: 0px;
}
#LeftPanel3 .ttl {
  display: none !important;
}
#LeftPanel3 .cnt {
  display: none !important;
}
#LeftPanel3 .all_cats {
  display: none !important;
}
#LeftPanel3 .link {
  display: none !important;
}
#LeftPanel3 .v4acpcont {
  display: none !important;
}
.esdmaintwo {
  margin-top: -5px;
  background: black;
  width: 1027px;
  padding: 9px;
}
#title {
      background: #6c1c88;
      height: 45px;
      color: #ece6e6;
      font-family: 'Lato', sans-serif;
      font-size: 1.5em;
      text-align: center;
      line-height: 1.9em;
      margin-top: -27px;
}
@import url("https://fonts.googleapis.com/css?family=Lato");
.discription {
  padding-left: 10px;
}
.discription p {
  padding-left: 15px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  text-align: justify;
  text-indent: 2em;
  font-size: 14px;
}
.discription h3 span {
  text-align: left;
  font-style: oblique;
  line-height: 40px;
  height: 40px;
  font-size: 18px;
  display: block;
  font-weight: bold;
  color: grey;
  padding: 0 5px 0 0;
  float: left;
  z-index: 100;
  position: relative;
  margin-left: 30px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.discription h3 i {
  border-bottom: 1px dashed grey;
  height: 20px;
  display: block;
  position: relative;
  z-index: 99;
  margin: 0 5px 0 30px;
}
.discription h3 {
  font-size: 18px;
  text-align: left;
  height: 40px;
  margin-top: 15px;
  display: block;
  background: url("http://i61.photobucket.com/albums/h76/Nimo18/dot_zpsz6ai8b6l.png?t=1472787251") no-repeat 0 1px;
}

/*---tabs---*/

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.tab_container {
  width: 790px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  margin-left: 230px;
}
input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}
label {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  display: block;
  float: left;
  width: 148px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background:#6c1c88;
}
label:hover {
  background:#6c1c88;
  opacity: 0.9;
  color: white;
}
#tab1:checked~ #content1, #tab2:checked~ #content2, #tab3:checked~ #content3, #tab4:checked~ #content4, #tab5:checked~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border: 1px solid grey;
}
.tab_container .tab-content h3 {
  text-align: center;
}
.tab_container [id^="tab"]:checked+ label {}
.tab_container [id^="tab"]:checked+ label .fa {
  color: grey;
}
label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/

@media only screen and (max-width: 930px) {
  label span {
      font-size: 14px;
  }
  label .fa {
      font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  label span {
      display: none;
  }
  label .fa {
      font-size: 16px;
  }
  .tab_container {
      width: 98%;
  }
}
.bounceInLeft {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes bounceInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translateX(-30px);
  }
  60% {
      opacity: 1;
      -webkit-transform: translateX(0px);
  }
  80% {
      -webkit-transform: translateX(0px);
  }
  100% {
      -webkit-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
      opacity: 0;
      transform: translateX(-30px);
  }
  60% {
      opacity: 1;
      transform: translateX(0px);
  }
  80% {
      transform: translateX(0px);
  }
  100% {
      transform: translateX(0);
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
.bounceInLeft p {
  padding-left: 15px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
  line-height: 1em;
  text-align: justify;
  text-indent: 2em;
  font-size: 13px;
}
#esd-shipping {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainbox {
  width: 792px;
  height: auto;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  margin-left: 230px;
  border: 1px grey solid;
}
#batten {
  background-color: #6c1c88;
  width: 120px;
  padding: 5px;
  text-align: center;
  margin-top: -50px;
  position: absolute;
  margin-left: 38px;
  color: white;
  border-radius: 4px;
}
#batten :hover{
    background-color: #6c1c88;
    opacity: 0.9;
}
#efusion-footer {
    width: 1000px;
    height: 220px;
    padding: 0px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.sc_searchone {
    height: 40px;
    float: left;
    display: inline;
    margin: 43px 0px 21px 500px;
}
.sc_searchone .inp_srh {
    width: 303px;
    margin-left: -12px;
    height: 37px;
    padding: 5px;
    background: url("http://www.360save.net/toolsempire/images/search_bg.jpg") no-repeat;
    background-position: top: 2px;
    left: 2px;
    border: 2px solid #fff;
    outline: none;
    color: #333;
    line-height: 26px;
    font-size: 14px;
    font-family: arial;
    display: block;
    float: left;
}
.sc_searchone button:hover {
  color: grey;
}
.sc_searchone button {
  overflow: visible;
      position: relative;
      margin-left: -2px;
      float: left;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 39px;
      width: 103px;
      font: bold 14px/36px 'Raleway', sans-serif;
      color: #6c1c88;
      transition: all 0.3s ease-out;
      text-transform: uppercase;
      background: #000000;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
}
.sc_searchone button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #000000 transparent;
  top: 12px;
  left: -6px;
}
iframe #desc_ifr {
	width:1394px;
}
